<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" >
    {% block title %}
    {% if title %}
    <title>About Flask - {{title}}</title>
    {% else %}
    <title>About Flask</title>
    {% endif %}
    {% endblock %}
</head>
<body>
{% block content %}
    {% block mainmenu %}
<ul class="menu">
    {% for l in menu %}
    <li><a href={{l['url']}}>{{l['title']}}</a></li>
    {% endfor %}
</ul>
    {% endblock mainmenu %}
    <div class = 'content' >
        {% if title %}
    <h1>{{title}}</h1>
    {% else %}
    <h1>About Flask</h1>
    {% endif %}
{% endblock content %}
    </div>
</body>
</html>